$sm-min: 'min-width: #{$sm-value}'
$md-min: 'min-width: #{$md-value}'
$lg-min: 'min-width: #{$lg-value}'
$xl-min: 'min-width: #{$xl-value}'

$sm-max: 'max-width: #{$sm-value}'
$md-max: 'max-width: #{$md-value}'
$lg-max: 'max-width: #{$lg-value}'
$xl-max: 'max-width: #{$xl-value}'

$sm-name: 'sm'
$md-name: 'md'
$lg-name: 'lg'
$xl-name: 'xl'