// ---------------------------------------- //
//      ANCHOR -- breakpoints
// ---------------------------------------- //

$sm-value: '640px'
$md-value: '768px'
$lg-value: '1024px'
$xl-value: '1280px'

$sm: 'min-width: #{$sm-value}'
$md: 'min-width: #{$md-value}'
$lg: 'min-width: #{$lg-value}'
$xl: 'min-width: #{$xl-value}'
