$opacity: (100: 1, 75: 0.75, 50: 0.5, 25: 0.25, 0: 0)

@each $property, $value in $opacity
    .opacity-#{$property}
        opacity: #{$value}

$shadow: (100: 0 1px 3px 0 rgba(0, 0, 0, 0.1), md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25), inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06), outline: 0 0 0 3px rgba(66, 152, 225, 0.5), none: none)

@each $property, $value in $shadow
    .shadow-#{$property}
        box-shadow: #{$value}
