@font-face {
    font-family: "PublicSans Light";
    src: url("../fonts/PublicSans-Light.ttf") format("truetype"),
        url("../fonts/PublicSans-Light.woff") format("woff"),
        url("../fonts/PublicSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PublicSans Regular";
    src: url("../fonts/PublicSans-Regular.ttf") format("truetype"),
        url("../fonts/PublicSans-Regular.woff") format("woff"),
        url("../fonts/PublicSans-Regular.woff2") format("woff2");
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PublicSans Medium";
    src: url("../fonts/PublicSans-Medium.ttf") format("truetype"),
        url("../fonts/PublicSans-Medium.woff") format("woff"),
        url("../fonts/PublicSans-Medium.woff2") format("woff2");
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    font-display: swap;
}
