// ---------------------------------------- //
//      ANCHOR -- container
// ---------------------------------------- //

.container {
    width: 100%;
    @media ($sm) {
        max-width: 640px;
    }
    @media ($sm) {
        max-width: 768px;
    }
    @media ($sm) {
        max-width: 1024px;
    }
    @media ($sm) {
        max-width:  1280px;
    }
}

// ---------------------------------------- //
//      ANCHOR -- display
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- object fit
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- object position
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- overflow
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- position
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- top right bottom left
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- visibility
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- z-index
// ---------------------------------------- //