// ---------------------------------------- //
//      ANCHOR -- container
// ---------------------------------------- //

$sm: 'min-width: #{$sm-value}'
$md: 'min-width: #{$md-value}'
$lg: 'min-width: #{$lg-value}'
$xl: 'min-width: #{$xl-value}'

.container
    width: 100%
    @media ($sm)
        max-width: $sm-value
    @media ($md)
        max-width: $md-value
    @media ($lg)
        max-width: $lg-value
    @media ($xl) 
        max-width: $xl-value

// ---------------------------------------- //
//      ANCHOR -- display
// ---------------------------------------- //

$displays: block, inline-block, inline, flex, inline-flex, none

@each $breakpoint in $breakpoints
    @each $display in $displays
        .#{$breakpoint}-#{$display}
            display: #{$display}

// ---------------------------------------- //
//      ANCHOR -- object fit
// ---------------------------------------- //

$fits: contain, cover, fill, scale-down, none

@each $fit in $fits
    .obj-#{$fit}
        object-fit: #{$fit}

// ---------------------------------------- //
//      FIXME -- object position
// ---------------------------------------- //

$positions: bottom, center, left, left bottom, left top, right, right bottom, right top, top
    
@each $position in $positions
    .obj-#{$position}
        object-position: #{$position}

// ---------------------------------------- //
//      ANCHOR -- overflow
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- position
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- top right bottom left
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- visibility
// ---------------------------------------- //

// ---------------------------------------- //
//      ANCHOR -- z-index
// ---------------------------------------- //
