#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: $colorLoaderBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader__container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .loader__element {
            font-size: 1.4rem;
            color: $colorLoaderText;
            opacity: 0;
            visibility: hidden;
        }
    }
}
