#page__transition {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    .page__transition__element {
        width: calc(100% / 3);
        height: 100vh;
        display: none;
    }
}
