// ----- font style
$fontStyle: (italic, normal)

// ----- font weight
$fontWeight: (100, 200, 300, 400, 500, 600, 700, 800, 900)

// ----- list style
$listStyle: (none, disc, decimal)

// ----- list position
$listPosition: (inside, outside)

// ----- text align
$textAlign: (left, center, right, justify)

// ----- text decoration
$textDecoration: (underline, line-through, none)

// ----- text transform
$textTransform: (uppercase, lowercase, capitalize, none)

// ----- vertical align
$verticalAlign: (baseline, top, middle, bottom, text-top, text-bottom)

// ----- whitespace
$whitespace: (normal, nowrap, pre, pre-line, pre-wrap)