// ---------------------------------------- //
//      ANCHOR -- fonts (don't load more than 3 fonts)
// ---------------------------------------- //

// -- weight 300 -- //
$fontLight: "PublicSans Light", sans-serif;

// -- weight 400 -- //
$fontRegular: "PublicSans Regular", sans-serif;

// -- weight 500 -- //
$fontMedium: "PublicSans Medium", sans-serif;

// ---------------------------------------- //
//      ANCHOR -- colors
// ---------------------------------------- //

// -- loader colors -- //
$darkColor: #010101;
$whiteColor: #fff;

// -- loader colors -- //
$colorLoaderBackground: #010101;
$colorLoaderText: #fff;

// -- layout colors -- //
$colorBackground: #010101;

// -- title colors -- //
$colorTitle: #fff;

// -- text colors -- //
$colorText: #fff;

// -- nav colors -- //
$colorNavBackground: #010101;
$colorNavElement: #fff;

// ---------------------------------------- //
//      ANCHOR -- spaces
// ---------------------------------------- //

$spaceSm: 1rem;
$spaceMd: $spaceSm * 2;
$spaceLg: $spaceSm * 3;
$spaceXl: $spaceSm * 4;

$spaceSection: $spaceXl * 2;

// ---------------------------------------- //
//      ANCHOR -- media queries
// ---------------------------------------- //

$sm: "min-width: 576px";
$md: "min-width: 768px";
$lg: "min-width: 992px";
$xl: "min-width: 1200px";

// ---------------------------------------- //
//      ANCHOR -- layout
// ---------------------------------------- //

$containerFullWidth: 100vw;
$containerWidth: 84vw;
$containerMaxWidth: 1200px;

.section {
    width: $containerFullWidth;
    padding: $spaceSection 0;
}

.container {
    width: $containerWidth;
    max-width: $containerMaxWidth;
    margin: 0 auto;
}

// ---------------------------------------- //
//      ANCHOR -- font size (fluid typography on resize)
// ---------------------------------------- //

html {
    font-size: 16px;
    @media all and ($sm) {
        font-size: 1.33vw;
    }
    @media all and ($md) {
        font-size: 1.33vw;
    }
    @media all and ($lg) {
        font-size: 1.33vw;
    }
    @media all and ($xl) {
        font-size: 16px;
    }
}

// ---------------------------------------- //
//      ANCHOR -- nav
// ---------------------------------------- //

.section__nav {
    position: relative;
    z-index: 1000;
    .section__container {
        width: 100%;
        .section__content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            > a {
                width: 5rem;
                position: relative;
                z-index: 100;
                img  {
                    width: 100%;
                }
            }
            div:first-of-type {
                width: 2rem;
                height: 0.5rem;
                position: relative;
                z-index: 100;
                cursor: pointer;
                @media all and ($sm) {
                    display: none;
                }
                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $whiteColor;
                    position: absolute;
                    left: 0;
                    &:first-of-type {
                        top: 0;
                    }
                    &:last-of-type {
                        bottom: 0;
                    }
                }
            }
            div:nth-of-type(2) {
                width: 100%;
                height: 100vh;
                max-height: 38rem;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 90;
                background: $darkColor;
                display: flex;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                @media all and ($sm) {
                    opacity: 1;
                    visibility: visible;
                    position: initial;
                    width: auto;
                    min-width: 0;
                    height: initial;
                }
                ul {
                    width: $containerWidth;
                    max-width: $containerMaxWidth;
                    margin: 0 auto;
                    @media all and ($sm) {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                    li {
                        font-size: 1.4rem;
                        margin-bottom: 2rem;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                        @media all and ($sm) {
                            font-size: 1rem;
                            margin-bottom: 0;
                            margin-right: 2rem;
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
            div:last-of-type {
                width: 100%;
                height: 100vh;
                background: rgba(#010101, 0.4);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                @media all and ($sm) {
                    display: none;
                }
            }
        }
    }
}

// ---------------------------------------- //
//      ANCHOR -- section column 1
// ---------------------------------------- //

.section__column__1 {
    .section__title {
        margin-bottom: $spaceMd;
    }
    .section__container {
        width: 100%;
        .section__content {
            width: 100%;
        }
    }
}

// ---------------------------------------- //
//      ANCHOR -- section column 2
// ---------------------------------------- //

.section__column__2 {
    .section__title {
        margin-bottom: $spaceLg;
    }
    .section__container {
        width: 100%;
        @media all and ($sm) {
            display: flex;
            justify-content: space-between;
        }
        .section__content {
            width: 100%;
            margin-bottom: $spaceMd;
            @media all and ($sm) {
                width: 46%;
            }
        }
    }
}

// ---------------------------------------- //
//      ANCHOR -- section column 3
// ---------------------------------------- //

.section__column__3 {
    .section__title {
        margin-bottom: $spaceLg;
    }
    .section__container {
        width: 100%;
        @media all and ($sm) {
            display: flex;
            justify-content: space-between;
        }
        .section__content {
            width: 100%;
            margin-bottom: $spaceMd;
            @media all and ($sm) {
                width: 30%;
            }
        }
    }
}

// ---------------------------------------- //
//      ANCHOR -- section column 4
// ---------------------------------------- //

.section__column__4 {
    .section__title {
        margin-bottom: $spaceLg;
    }
    .section__container {
        width: 100%;
        @media all and ($sm) {
            display: flex;
            justify-content: space-between;
        }
        .section__content {
            width: 100%;
            margin-bottom: $spaceMd;
            @media all and ($sm) {
                width: 18%;
            }
        }
    }
}

// ---------------------------------------- //
//      ANCHOR -- section stretch
// ---------------------------------------- //

.section__stretch {
    .section__container {
        @media all and ($sm) {
            align-items: stretch;
        }
    }
}
// ---------------------------------------- //
//      ANCHOR -- section center
// ---------------------------------------- //

.section__center {
    .section__container {
        @media all and ($sm) {
            align-items: center;
        }
    }
}
