<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Document.">
    <title>Framework</title>
</head>

<body>

    <!-------------------- ANCHOR -- loader -------------------->
    <div id="loader">
        <div class="loader__container">
            <span class="loader__element">Loader</span>
        </div>
    </div>

    <!-------------------- ANCHOR -- page transition -------------------->
    <div id="page__transition">
        <div class="page__transition__element"></div>
        <div class="page__transition__element"></div>
        <div class="page__transition__element"></div>
    </div>

    <!-------------------- ANCHOR -- scroll -------------------->
    <div id="js-scroll">
        <div data-scroll-section>

            <!-------------------- ANCHOR -- barba -------------------->
            <div id="barba-wrapper">
                <div class="barba-container">

                    <!-------------------- ANCHOR -- fixed element -------------------->
                    <nav id="nav" class="section section__nav" data-scroll data-scroll-sticky data-scroll-target="#js-scroll">
                        <div class="container">
                            <div class="section__container">
                                <div class="section__content">
                                    <a href="../index.html">
                                        <img src="<%= require('../images/logo.svg') %>" alt="Logo.">
                                    </a>
                                    <div>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <div>
                                        <ul>
                                            <li><a href="../index.html">Accueil</a></li>
                                            <li><a href="../page.html">Page</a></li>
                                        </ul>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </nav>
